<!DOCTYPE html>
<html>
<head>
  <title>entechnical</title>
  <%= stylesheet_link_tag "blog", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:action] %>">

<%= render 'navigation' %>

<%= yield %>

<%= render 'footer' %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<%= javascript_include_tag "blog" %>

</body>
</html>
